.site-header {
  padding: 10px;
}

.logo img {
  width: 100%;
  height: auto;

}

.search-row {
  display: flex;
  gap: 8px;
  padding-left: 10px;

}

.search>input,
.search>button {
  border-radius: 12px;
}

.search>input {
  text-align: center;

}

.search>button {
  color: white;
  background-color: rgb(77, 48, 48);
}

.search button:hover {
  background-color: #db7171;
}

.navbar>ul {
  list-style: none;
  padding: 10px;
}

.navbar>ul a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: color 0.2s ease;
}

.navbar ul a:hover {
  color: #db7171;
}

@media (min-width: 640px) {
  .site-header {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .search-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
  }
  .icons {
    display: flex;
    gap: 10px;
    margin-left: auto;
    justify-content: space-between;
  }

  .header-flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .navbar ul {
    display: flex;
    gap: 15px;
    padding: 5px 0 0 0;
  }
}

/* Allt ovan är regler för header delen ^  */

.hero {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid black;
  margin: 10px;
}

.hero-bild img {
  width: 100%;
  height: auto;
  display: block;
  padding: 20px 10px 5px 10px;
  border-bottom: 1px solid black;
}

.hero-text {
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 20px 15px;

}

.hero-text h3 {
  margin: 0 0 10px 0;
}

.hero-text p {
  margin: 0;
  max-width: 60ch;
}

@media (min-width: 1024px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-bild {
    order: 2;
  }

  .hero-text {
    order: 1;
  }

  .hero-bild img {
    height: 100%;
    border-bottom: none;
    border-right: 1px solid black;
    padding: 20px;
  }

  .hero-text {
    justify-items: start;
    text-align: left;
    padding: 30px;
  }
}

/* Allt ovan är regler för Hero delen ^  */

 .spots {
  display: flex;
  justify-content: space-evenly;
}
.spots .spot {
  border: 1px solid black;
  position: relative; 
}
.spottext {
  position: absolute;
  bottom: 25%;
  right: 30%;
  background-color: rgb(182, 180, 180);
  color: rgb(0, 0, 0);
  border-radius: 9px;
  padding: 0.5rem;
}

@media (max-width: 1024px) {
.spots {
  display: none;
  border: 1px solid black
}
}

.produkt-kort {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 10px;
} 

@media (min-width: 640px) {
  .produkt-kort {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .produkt-kort {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.produkt-media {
  position: relative;
  margin-top: 10px;
}

.produkt-media a img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  margin: 0;
}

.favorit-heart {
  position: absolute;
  bottom: 12px;
  /* top: 350px; */
  right: 12px;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.newstext {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 8px;
  border-radius: 9px;
}

.produkt-namn {
  display: flex;
  justify-content: space-between;
}

.produkt-namn h3 {
  font-size: 20px;
  margin: 0;
}

.produkt-pris {
  font-size: 16px;
  margin: 0;
}

.produkt-info {
  padding-top: 8px;
}

.brand {
  font-size: 12px;
}

/* Allt ovan är regler för alla produkter delen ^  */

.små-iconer,
.små-iconer-produktsida {
  display: grid;
  gap: 20px;
  margin-top: 3rem;
 
}

.små-iconer div,
.små-iconer-produktsida div {
  display: flex;
  gap: 10px;
}

.små-iconer img,
.små-iconer-produktsida img {
  width: 35px;
  height: 35px;
}

.små-iconer-produktsida {
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .små-iconer,
  .små-iconer-produktsida {
    grid-template-columns: 1fr 1fr; 
    padding-bottom: 20px;
  }
  .små-iconer div,
  .små-iconer-produktsida div {
  justify-content: center;
}
}
@media (min-width: 1024px) {
  .små-iconer,
  .små-iconer-produktsida {
    grid-template-columns: 1fr 1fr 1fr 1fr ; 
    padding-bottom: 20px;

  }
}

/* Allt ovan är regler för små-iconer delen på botten av sidan ^  */

.footer-links-desktop {
  display: none;
}

.footer-links-desktop h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-links-desktop a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 6px;
  font-size: 13px;
}

@media (min-width: 640px) {
  .mobile-accordion {
    display: none;
  }
  .footer-links-desktop {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 20px 10px 0 10px;
    justify-content: start;
}
  .footer-links-desktop {
  display: flex;
  gap: 80px;
}
  .footer-links-desktop, footer {
background-color: rgb(221, 218, 218);
}
}  
/* Ovan är regler för footer längst ner på sidan för desktop */
footer {
  display: grid;
  justify-content: center;
  padding: 30px;
 
}

/* Allt ovan är regler för footer längst ner på sidan ^  */

.produkt-detalj {
  display: grid;
}

.produkt-detalj-bild {
  position: relative;
}

.produkt-detalj-bild>img:first-child {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid black;
  object-fit: fill;
}

.produkt-detalj-heart {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  border: none;
}

.produkt-detalj-info button {
  margin-bottom: 20px;
}
.produkt-detalj-info .produkt-pris {
  margin-bottom: 20px;
}

.buy-btn {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buy-btn:hover {
  background-color: #333;
  transform: scale(1.02);
}

@media (min-width: 640px) {
  .produkt-detalj {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
  .buy-btn {
  width: 30%;

}
.produkt-detalj-bild {
  position: relative;
}
.produkt-detalj-heart {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  border: none;
}
}
/* Allt ovan är regler för produkt-detalj+sidan ^  */

.liknande-produkter {
  display: none;
  padding: 20px 10px;
}
.liknande-produkter h2 {
  text-align: center;
  margin-bottom: 20px;
}
.slider-viewport {
  overflow: hidden;
  width: 100%;
}
.slider-track {
  display: flex; /* 🔥 viktigt */
  gap: 16px;
  transition: transform 0.3s ease;
}
.slider-item {
  /* flex: 0 0 calc((90% - 32px) / 3);   */
  flex: 0 0 calc((100% - 32px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}
.slider-info {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 10px;
}
.slider-info p {
  margin: 0;
}
.slider-item .brand {
  width: 200px;
  margin-top: 6px;
  font-size: 12px;
}
.slider-viewport {
  overflow-x: auto;
}
.slider-wrapper {
  position: relative;
}
.slider-knapp {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: 1px solid black;
  cursor: pointer;
  z-index: 2;
}
.slider-knapp.prev {
  left: -9px;
}
.slider-knapp.next {
  right: -9px;
}
@media (min-width: 1024px) {
  .liknande-produkter {
    display: block;
  }
}
.top-admin {
  border: 1px solid black;
  background-color: rgb(22, 21, 21);
  color: white;
}
.top-admin h2 {
  padding-left: 20px;
}

.admin-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 1px solid black;
  gap: 1px;
  height: 100vh; 
}
.admin-produkt {
  border: 1px solid black;
  background-color: rgb(177, 177, 177);
}
.admin-produkt p {
  margin-left: 50px; 
  
}
.admin-ny-produkt h3 {
  padding-left: 50px; 
}
.admin-ny-produkt {
   padding-left: 1rem;
}

.form-info {
  display: grid;
  justify-content: space-between;
  gap: 20px;
  max-width: 400px; 
 
}
.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-btn {
  padding: 10px;
  background: lightgray;
  border: 1px solid black;
  cursor: pointer;
}
.admin-grid-add {
  display: grid;
   grid-template-columns: 1fr 3fr;
   height: 100vh;
   
 }
.admin-produkt-add {
  border: 1px solid black;
  background-color: rgb(177, 177, 177);
}
.admin-list {
  border: 1px solid black;
  justify-content: space-between;
  padding-top: 15px;
}
.produkt-listan {
  width: 100%;
  border-collapse: collapse;
}
.produkt-listan th,
.produkt-listan td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
.produkt-listan th {
  background-color: #ddd;
}